
@media (max-width: 600px) {
    div {
      margin: 2rem;
    }
    
    form {
      width: 100%;
    }
    
  }
  
  @media (min-width: 601px) and (max-width: 900px) {
    div {
      margin: 4rem;
    }
    
    form {
      width: 90%;
    }
    
  }
  
  @media (min-width: 901px) {
    div {
      margin: 9rem;
    }
    
    form {
      width: 75%;
    }

  }
  